.nav-tabs .nav-link.active {
    color: blue; 
}

.nav-tabs .nav-link {
    color: black;
}

.modalIconsBorders{
    border-color: rgba(230, 230, 230, 0.795);
    background-color: rgba(230, 230, 230, 0.795);
}

.square-img {
  height: 500px;
}